/* GLOBAL */

:root {
  --bellport-yellow: #faffd8;
  --bellport-purple: #54577c;
}

html {
  position: relative;
  min-height: 100vh;
}

.bellport-purple-text {
  color: var(--bellport-purple) !important;
}

.bellport-purple-background {
  background-color: var(--bellport-purple) !important;
}

.bellport-yellow-background {
  background-color: var(--bellport-yellow) !important;
}

.bellport-yellow-text {
  color: var(--bellport-yellow) !important;
}

.bellport-purple-bottom-border {
  border-color: var(--bellport-purple);
  border-style: solid;
  border-width: 0 0 1px 0;
}

.dropshadow {
  filter: drop-shadow(0px 2px 4px #bbbbbb);
}

/* Main page */

main {
  margin-top: 90px;
}

/* NAVBAR */
#logo {
  height: 40px;
}

.nav-link {
  color: var(--bellport-purple) !important;
}

.active .nav-link {
  font-weight: bold !important;
}

.nav-link:hover {
  font-weight: bold !important;
}

#navLogoutBtn {
  border-color: var(--bellport-purple) !important;
  color: var(--bellport-purple) !important;
}

#navLogoutBtn:hover {
  border-color: var(--bellport-yellow) !important;
  color: var(--bellport-yellow) !important;
  background-color: var(--bellport-purple) !important;
}

#logo-img:hover {
  transform: scale(1.1);
}

.navbar-toggler {
  border-color: var(--bellport-purple) !important;
  /* background-color: var(--bellport-purple) !important; */
}

/* Loader */
.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* Large screen syling */
@media screen and (min-width: 576px) {
  main {
    margin-top: 80px !important;
  }
}

/* Mobile device styling */
@media screen and (max-width: 576px) {
}
