/* GLOBAL */

:root {
  --bellport-yellow: #faffd8;
  --bellport-purple: #54577c;
}

html {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  min-height: 72vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.bellport-purple-text {
  color: var(--bellport-purple) !important;
}

.bellport-purple-background {
  background-color: var(--bellport-purple) !important;
}

.bellport-yellow-background {
  background-color: var(--bellport-yellow) !important;
}

.bellport-yellow-text {
  color: var(--bellport-yellow) !important;
}

.bellport-purple-bottom-border {
  border-color: var(--bellport-purple);
  border-style: solid;
  border-width: 0 0 1px 0;
}

.dropshadow {
  filter: drop-shadow(0px 2px 4px #bbbbbb);
}

/* Main page */

main {
  margin-top: 90px;
}

/* NAVBAR */
#logo {
  height: 40px;
}

.nav-link {
  color: var(--bellport-purple) !important;
}

.active .nav-link {
  font-weight: bold !important;
}

.nav-link:hover {
  font-weight: bold !important;
}

#navLogoutBtn {
  border-color: var(--bellport-purple) !important;
  color: var(--bellport-purple) !important;
}

#navLogoutBtn:hover {
  border-color: var(--bellport-yellow) !important;
  color: var(--bellport-yellow) !important;
  background-color: var(--bellport-purple) !important;
}

#logo-img:hover {
  transform: scale(1.1);
}

.navbar-toggler {
  border-color: var(--bellport-purple) !important;
}

/* Loader */
.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* Large screen syling */
@media screen and (min-width: 576px) {
  main {
    margin-top: 80px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
  }
  .dataTables_wrapper .col-sm-12 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .page {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

/* Mobile device styling */
@media screen and (max-width: 576px) {
  .select {
    margin-top: 5px;
  }

  .filter-row {
    margin-top: 5px;
  }
}

/* Tables */
.dataTables_wrapper .col-sm-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.table-button {
  width: 45px;
}

.dtr-details {
  width: 100% !important;
}

/* select dropdown */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background: white;
  background-image: none;
  border: 1px solid black;
}
.select {
  position: relative;
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 2.5em;
  line-height: 2.5;
  color: var(--bellport-yellow);
  background: var(--bellport-purple);
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.7em;
  color: var(--bellport-purple);
  cursor: pointer;
  border-radius: 4px;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: var(--bellport-purple);
  pointer-events: none;
}
.select:hover::after {
  color: rgb(247, 161, 2);
}

.select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

/* mobile buttons */
.mobile-button-container {
  width: 110px;
  z-index: 10;
  position: fixed;
  /* top: 88vh; */
  right: 25px;
  bottom: 25px;
}

.mobile-new-button {
  border-radius: 50% !important;
  border-color: white !important;
  width: 50px;
  height: 50px;
}

.mobile-filter-button {
  border-radius: 50% !important;
  background-color: var(--bellport-purple) !important;
  border-color: white !important;
  width: 50px;
  height: 50px;
}

.mobile-filter-button:hover {
  background-color: var(--bellport-purple) !important;
}

/* Filter Modal */
.modal-title {
  color: var(--bellport-purple) !important;
}

.desktop-filter-button {
  background-color: var(--bellport-purple) !important;
  border-color: white !important;
  width: 150px;
}

.desktop-filter-button:hover {
  background-color: white !important;
  color: var(--bellport-purple) !important;
  border-color: var(--bellport-purple) !important;
}
